<div class="home-category-slider">
    <div class="container-fluid no-padding">
        <div class="category-slider">
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-transport-9"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Cars & Bikes</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">1447 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-technology-23"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Mobiles & Laptops</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">867 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-internet"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Real Estate</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">447 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-game"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Sports</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">147 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-people-5"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Matrimonal</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">57 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-woman"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Clothing</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">214 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-washing"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Home Appliances</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">999 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-education"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Education & Art</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">147 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
            <!-- Category -->
            <div class="item">
                <!-- Category Banner -->
                <div class="category-grid-5">
                    <!-- Category Icon -->
                    <div class="category-grid-5-icon"> <i class="flaticon-dog"></i> </div>
                    <!-- Category Title -->
                    <div class="cat-5-title">
                        <h2>
                            <a href="#">Pets & Animals</a>
                        </h2>
                    </div>
                    <!-- Category Ad Count -->
                    <div class="cat-5-count">1122 ads</div>
                    <!-- Popular Keywords -->
                    <div class="cat-5-popular">
                        <p> <a href="#">Sports Car</a>, <a href="#">Honda Civic Used</a>, <a href="#">Heavy Bikes Honda </a>, <a href="#">Verified Cars</a>, <a href="#">Car For Sale</a> </p>
                    </div>
                    <!-- View All Ads --><a href="#" class="btn btn-lg btn-clean">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>