<!--Footer Bottom-->
<div class="footer-copyright">
    <div class="container clearfix">
        <!--Copyright-->
        <div class="copyright text-center">Copyright @DateTime.Today.Year © All Rights Reserved By <a href="http://infotronix.com.pk" target="_blank">Infotronix</a> | In collaboration with <a href="http://sparkerzofficial.com" target="_blank">Tech Flurry Pvt. Ltd.</a></div>
    </div>
</div>