<div class="col-md-3 footer-list">
    <h3>Latest Posts</h3>
    <ul>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Vestibulum ante ipsum</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Phasellus at eros</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Mauris eleifend aliquet</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Aliquam vitae tristique</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pellentesque lobortis</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Class aptent taciti</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Mauris eleifend aliquet</li>
        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Aliquam vitae tristique</li>
    </ul>
</div>