<div class="col-md-3 col-sm-3 hidden-sm hidden-xs">
    <div class="logo">
        <a asp-action="Index" asp-controller="Home"><img alt="logo" src="@Url.Content("~/images/logo.png")"> </a>
    </div>
</div>