<!-- Navigation Bar -->
<nav id="menu-1" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- menu logo -->
                    <ul class="menu-logo">
                        <li>
                            <a href="index.html"><img src="images/logo-1.png" alt="logo"> </a>
                        </li>
                    </ul>
                    <!-- menu links -->
                    <partial name="_NavBar" />
                    @*<ul class="menu-search-bar hidden">
                            <li>
                                <a href="post-ad-1.html" class="btn btn-light"><i class="fa fa-plus" aria-hidden="true"></i> Post Free Ad</a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
    </section>
</nav>
