<ul class="nav navbar-nav link-effect-4">
    <li class="active"><a href="index.html" data-hover="Home">Home</a> </li>
    <li><a href="about.html" data-hover="About">About </a> </li>
    <li><a href="gallery.html" data-hover="Gallery">Gallery</a></li>
    <li class="dropdown">
        <a href="codes.html" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="icons.html">Icons</a></li>
            <li><a href="codes.html">Short Codes</a></li>
        </ul>
    </li>
    <li><a href="contact.html" data-hover="Contact">Contact</a></li>
</ul>