@{
    ViewData["Title"] = "View Crops";
}
<div class="main-content-area clearfix">
    <!-- =-=-=-=-=-=-= Featured Ads =-=-=-=-=-=-= -->
    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1> <span class="heading-color"> Crops</span> Advertisements</h1>
                        <!-- Short Description -->
                        <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                    </div>
                </div>
                <!-- Middle Content Box -->
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <!-- Row -->
                    <div class="row">
                        <div id="adLoadFirst"></div>
                        <partial name="_Advertizing" />
                        <div id="ads"></div>
                    </div>
                </div>
                <!-- Middle Content Box End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>
</div>

@section scripts{
    <script>
        $.get('@Url.Action("GetCrops", "Products")', function (content) {
            $("#adLoadFirst").append(content);
        });
    </script>
    <script>
        var processing = false;
        var lastIndex = 0;
        $(document).scroll(function () {
            var scroll = 100 * $(window).scrollTop() / ($(document).height() - $(window).height());
            var count = 3;
            var url = '@Url.Action("LoadCrops","Products")/?count=' + count + "&lastIndex=" + lastIndex;
            if ($(window).width() < 800) {
                count = 1;
            }
            else if ($(window).width() < 1024) {
                 count = 2;
            }
            if (processing) {
                return false;
            }
            if (scroll > 80 && !processing) {
                processing = true;
                $(window).scrollTop($(window).scrollTop() - 10);
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (html) {
                        //$.parseHTML(html).hide().appendTo("#ads").fadeIn();
                        $("#ads").append(html);
                        processing = false;
                        lastIndex += count;
                    },
                    error: function () {
                        processing = false;
                    }

            });
            }
        });
    </script>
}
