<div class="row">
    <div class="col-3">
        <a href="#" onclick=""><i class="fas fa-bar-chart text-info" title="Edit"></i></a>
    </div>
    <div class="col-3">
        <a href="#" onclick=""><i class="fas fa-edit text-success" title="Edit"></i></a>
    </div>
    <div class="col-3">
        <a href="#" onclick=""><i class="fas fa-trash text-danger" title="Delete"></i></a>
    </div>
</div>