@using EFarmer.pk.Areas.Admin.Models.Shared
@{
    var breadCrumb = ViewBag.BreadCrumb == null ? new BreadcrumbViewModel() : (BreadcrumbViewModel)ViewBag.BreadCrumb;
    bool isCreateRight = ViewBag.Create == null || ViewBag.Create == "" ? false : true;
}

@if (breadCrumb.BreadCrumbs.Count > 0)
{
    <div class="row">
        <div class="col-xs-8">
            <ol class="breadcrumb">
                @foreach (var item in breadCrumb.BreadCrumbs)
                {
                    var active = item.IsActive ? "active" : "";
                    if (!item.IsLast)
                    {
                        <li class="breadcrumb-item"><a href="@item.Link">@item.Name</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active">@item.Name</li>
                    }
                }

            </ol>
        </div>
        <div class="col-xs-4">
            @if (isCreateRight)
            {
                <button type="button" class="btn btn-primary d-lg-block m-l-15" id="btnCreateNew"><i class="fa fa-plus-circle"></i> @ViewBag.Create</button>
            }
        </div>
    </div>
}