@using EFarmer.pk.Areas.Admin.Models.Shared
@{
    var breadCrumb = ViewBag.BreadCrumb == null ? new BreadcrumbViewModel() : (BreadcrumbViewModel)ViewBag.BreadCrumb;
    bool isCreateRight = ViewBag.CreateRight == null || ViewBag.CreateRight == "" ? false : true;
}

@if (breadCrumb.BreadCrumbs.Count > 0)
{
    <ol class="breadcrumb">
        @foreach (var item in breadCrumb.BreadCrumbs)
        {
            var active = item.IsActive ? "active" : "";
            if (!item.IsLast)
            {
                <li class="breadcrumb-item"><a href="@item.Link">@item.Name</a></li>
            }
            else
            {
                <li class="breadcrumb-item active">@item.Name</li>
            }
        }

    </ol>
}
@if (isCreateRight)
{
    <button type="button" class="btn btn-info d-none d-lg-block m-l-15" id="btnCreateNew"><i class="fa fa-plus-circle"></i> @ViewBag.CreateRight</button>
}