<footer class="footer">
    © @DateTime.Today.Year @EFarmer.pk.Common.CommonValues.APP_NAME All Rights Reserved By <a href="http://infotronix.com.pk" target="_blank">Infotronix</a> | In collaboration with <a href="http://techflurry.co" target="_blank">Tech Flurry Pvt. Ltd.</a>
</footer>