<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <partial name="_NavBar" />
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>