<a class="navbar-brand" href="index.html">
    <!-- Logo icon --><b>
        <img src="@Url.Content("~/images/logo.png")" alt="homepage" class="light-logo" />
    </b>
    <!--End Logo icon -->
    <!-- Logo text -->
    <span>
        <!-- Light Logo text -->
        @*<img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />*@
        @EFarmer.pk.Common.CommonValues.APP_NAME.Concat(EFarmer.pk.Common.CommonValues.APP_NAME_PART)
    </span>
</a>