<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="">
            <a class="waves-effect waves-dark" href="@Url.Action("Index","Dashboard")" aria-expanded="false"><i class="icon-speedometer"></i>Dashboard</a>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-world"></i><span class="hide-menu">System Management</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="app-calendar.html">Users</a></li>
                <li><a href="@Url.Action("Index","Cities")">Cities</a></li>
                <li><a href="@Url.Action("Index","Categories")">Categories</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class=" ti-announcement"></i><span class="hide-menu">Content</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="app-email-detail.html">Advertisements</a></li>
                <li><a href="app-email.html">Reported Advertisements</a></li>
            </ul>
        </li>
    </ul>
</nav>