<section class="custom-padding gray">
    <!-- Main Container -->
    <div class="container">
        <!-- Content Box -->
        <!-- Row -->
        <div class="row">
            <!-- Heading Area -->
            <div class="heading-panel">
                <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                    <!-- Main Title -->
                    <h1>Latest <span class="heading-color"> Blog</span> Post</h1>
                    <!-- Short Description -->
                    <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                </div>
            </div>
            <!-- Middle Content Box -->
            <div class="col-xs-12 col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-post">
                            <div class="post-img">
                                <a href="#"> <img class="img-responsive" alt="" src="images/blog/1.jpg"> </a>
                            </div>
                            <div class="post-info"> <a href="">Aug 30, 2017</a> <a href="#">23 comments</a> </div>
                            <h3 class="post-title"> <a href="#"> Sony Xperia XZ: Release date and everything you need to know</a> </h3>
                            <p class="post-excerpt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam neque tempora odit atque repellat est molestiae perferendis. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-post">
                            <div class="post-img">
                                <a href="#"> <img class="img-responsive" alt="" src="images/blog/2.jpg"> </a>
                            </div>
                            <div class="post-info"> <a href="">Aug 30, 2017</a> <a href="#">23 comments</a> </div>
                            <h3 class="post-title"> <a href="#"> Review of the 2017 Honda Accord Sport </a> </h3>
                            <p class="post-excerpt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam neque tempora odit atque repellat est molestiae perferendis. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-post">
                            <div class="post-img">
                                <a href="#"> <img class="img-responsive" alt="" src="images/blog/3.jpg"> </a>
                            </div>
                            <div class="post-info"> <a href="">Aug 30, 2017</a> <a href="#">23 comments</a> </div>
                            <h3 class="post-title"> <a href="#"> How to Buy a House 6 Must-Dos Before Buying A Home</a> </h3>
                            <p class="post-excerpt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam neque tempora odit atque repellat est molestiae perferendis. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Middle Content Box End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Main Container End -->
</section>