<section class="section-padding-140 parallex bg-img-5" data-stellar-background-ratio="0.1">
    <!-- Main Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-12">
                <a href="#">
                    <div class="icon-box yellow">
                        <div class="icon"> <i class="flaticon-transport-9"></i> </div>
                        <div class="icon-text">
                            <h3 class="title">
                                Are You looking for something?
                            </h3>
                            <div class="content">
                                <p><span>Our cars are delivered fully-registered with all requirements completed. We’ll deliver your car wherever you are.</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-12">
                <a href="#">
                    <div class="icon-box red">
                        <div class="icon"> <i class="flaticon-cogwheel-1"></i> </div>
                        <div class="icon-text">
                            <h3 class="title">
                                Do You want to sell something?
                            </h3>
                            <div class="content">
                                <p><span>What’s your car worth? Receive the absolute best value for your trade-in vehicle. We even handle all paperwork.</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Main Container End -->
</section>