@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Home"];
}
@section PageHeader{
    <partial name="_SearchBar" />
}
<!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
<div class="main-content-area clearfix">
    <!-- =-=-=-=-=-=-= Featured Ads =-=-=-=-=-=-= -->
    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1>@_localizer["Latest"] <span class="heading-color"> Featured</span> Listings</h1>
                        <!-- Short Description -->
                        <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                    </div>
                </div>
                <!-- Middle Content Box -->
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <!-- Row -->
                    <div class="row">
                        <div id="ads"></div>
                    </div>
                    <div class="text-center">
                        <div class="load-more-btn">
                            <button id="loadAds" class="btn btn-theme"> Load More <i class="fa fa-refresh"></i> </button>
                        </div>
                    </div>
                </div>
                <!-- Middle Content Box End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>
    <!-- =-=-=-=-=-=-= Featured Ads End =-=-=-=-=-=-= -->
    <partial name="_AppDownload" />
    <!-- =-=-=-=-=-=-= App Download Section End =-=-=-=-=-=-= -->
    <!-- =-=-=-=-=-=-= Our Partners =-=-=-=-=-=-= -->
    <partial name="_Partners" />
    <!-- =-=-=-=-=-=-= Our Partners  End =-=-=-=-=-=-= -->
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#selectCategory").change(function () {
                var options = '<option label="Select an Item"></option>';
                if ($(this).val() != 0 || $(this).val() != '0') {
                    //var url=@Url.Action("GetAgroItemsByCategory","Home")+ $(this).val();
                    var url = "Home/GetAgroItemsByCategory/" + $(this).val();
                    $.ajax({
                        async: false,
                        type: "GET",
                        url: url,
                        success: function (result) {

                            //$(result).each(function (i, e) {
                            //    options += '<option value="' + e.id + '">' + e.name + '</option>'
                            //});
                            $("#selectItem")
                                .find('option')
                                .remove()
                                .end()
                                .append(result);
                        },
                        error: function () {
                            $("#selectItem")
                                .find('option')
                                .remove()
                                .end()
                                .append(options);
                        }
                    });
                }
                else {
                    $("#selectItem")
                        .find('option')
                        .remove()
                        .end()
                        .append(options);
                }
            });
            $("#loadAds").click(function () {
                var count = 3;
                if ($(window).width() < 800) {
                    count = 1;
                }
                else if ($(window).width() < 1024) {
                    count = 2;
                }
                $.get('@Url.Action("_LoadAdPartial", "Home")', { count: count }, function (content) {
                    if (content == "\r\n" || content == "") {
                        $("#loadAds").hide();
                    }
                   $("#ads").append(content);
                });
            });
        });
    </script>
    <script>
        $.get('@Url.Action("_IndexAdsPartial", "Home")', function (content) {
            $("#ads").append(content);
        });
    </script>

}